.container {
    max-width: 500px;
    margin-right: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: small;
}

h1 {
  text-align: left;
}

h2 {
  text-align: justify;
}

.add-task input[type="text"] {
  width: 70%;
  padding: 5px;
}

.add-task button {
  padding: 5px 10px;
  background-color: rgb(39, 39, 255);
  color: rgb(255, 255, 255);
}

.task-list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  display: inline-block;
}

.task-list {
  flex-basis: 48%;
}

.task-list h2 {
  margin-bottom: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.label-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 20px;
}

.label-container label {
  cursor: pointer;
}
.label-container label:hover {
  text-decoration: underline;
}

.task-item span {
  margin-left: 10px;
}



.task-item button {
  margin-left: 40px;
  background-color: rgb(125, 125, 125);
  color: white;
  margin-right: 30px;
  padding: 2px 5px;
}


  